spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  datasource:
    url: jdbc:mariadb://localhost:3306/jpa_practice
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 12341234
